body{
  background-image:url("background.jpg");
}


#jumbo img {
  max-width: 100%;
}
#header h1 {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:mediumvioletred;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  padding-top:5px;
  padding-bottom:5px;
}
@media (max-width:800px){
  #header h1 {
    font-size:75%;
    font-family:'Times New Roman', Times, serif;
    color:crimson;
  }
}
@media (max-width:480px){
  #header h1{
    font-size:35%;
  }
}
#nav {
  display: flex;
  float:right;
}
@media (max-width:800px){
  #nav{
    float:none;
    position:fixed;
    width:100%;
    padding:5px;
    padding-left:0px;
    padding-right:0;
    justify-content: space-around;
  }

}
@media (max-width:500px){
  #nav{
    float:none;
    position:fixed;
    width:100%;
    padding:5px;
    padding-left:0px;
    padding-right:0;
    justify-content: space-around;
    font-size:55%;
  }

}
#nav a {
  text-decoration:none;
  color:black;
  border-radius:10px;
  padding:10px;
  background-color:rebeccapurple;
  margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}

#nav a:hover {
  background-color:navy;
  color:white;
}
#content {
  display:flex;
  width:90%;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.box {
  width:30%;
}
h2{
  background-color:rgb(121, 11, 93);
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box1{
  background-color:darkred;
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box1 img{
  max-width:85%;
}
#box1 iframe{
  max-width:75%;
  max-height:75%;
}
#box2{
  background-color:darkred;
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box2 img{
  max-width:85%;
}
#box2 iframe{
  max-width:75%;
  max-height:75%;
}
#box3{
  background-color:darkred;
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box3 img{
  max-width:85%;
}
#box3 iframe{
  max-width:75%;
  max-height:75%;
}
#box4{
  background-color:darkred;
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box4 img{
  max-width:85%;
}
#box4 iframe{
  max-width:75%;
  max-height:75%;
}
#box5{
  background-color:darkred;
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box5 img{
  max-width:85%;
}
.Box {
  width:30%;
  justify-content: space-between;
}
#box6{
  background-color:darkred;
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box6 img{
  max-width:85%;
}
#box7{
  background-color:darkred;
  color:white;
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  font-weight:bold;
}
#box7 img{
  max-width:85%;
}

@media(max-width:800px){
  #content{
    display:block;
    width:auto;
    margin-left:2%;
    margin-right:2%;
    text-align:center;
    font-size:65%;
  }
}
#footer {
  width:98%;
  background-color:blueviolet;
  color:rgb(216, 135, 135);
  border-radius:10px;
  padding:10px;
   margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
}
@media(max-width:800px){
  #footer p{
    font-size:45%;
    max-width:75%;
  }
}
